.client {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }
  
.snake {
  width: 1200px;
  height: 520px;
  margin: 120px;
}

.invisinput {
  display: none;
}