@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

.pagecontent {
    display: flex;
    justify-content: center;
    padding: 30px 200px 30px 200px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(180, 180, 180);
}

.welcomebox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 249, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    margin-bottom: 50px;
}

.welcomeboxtext {
    font: bolder;
    font-size: 42px;
    font-family: 'Roboto Mono', monospace;
}

.centercontent {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.leaderboard {
    background-color: rgb(255, 249, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    position: sticky;
    top: 100px;
    margin-right: 10px;
}

.newsbox {
    background-color: rgb(255, 249, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 100%;
}

.leaderboardheader {
    text-align: center;
    text-decoration: solid underline;
    margin: 10px 0px 10px 0px;
}

.gameleaderboard {
    background-color: rgb(189, 189, 189);
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recordtime {
    margin-right: 2%;
    width: 25%;
    font-size: 110%;
}

.gameheader {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.profile {
    background-color: rgb(177, 177, 177);
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ranknumber {
    font-size: 150%;
    margin-left: 2%;
    width: 5%;
    text-align: center;
}
.profilepic {
    width: 60px;
    height: 60px;
    margin: 5px 5px 5px 20px;
    border: 1px solid black
}

.username {
    font-size: 110%;
    width: 40%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.newsheader {
    text-align: center;
    text-decoration: solid underline;
    margin: 10px 0px 10px 00px;
}

.news {
    background-color: rgb(189, 189, 189);
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px;
    display: flex;
    text-decoration: none;
    color: inherit;
}

.newsimg {
    height: 150px;
    width: 250px;
    margin: 5px;
}

.newstext {
    height: 150px;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.newstitle {
    font-size: 25px;
    font-weight: 900;
    margin: 5px 0px;
    font-family: 'Poppins', sans-serif;
}

.loading {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.profileiconholder {
    display: flex;
    justify-content: center;
    width: 205px;
}

.profileicon {
    width: 40px;
    height: 40px;
}