@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

.pagecontent {
    display: flex;
    justify-content: center;
    padding: 30px 200px 30px 200px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(180, 180, 180);

}

.welcomebox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 249, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    margin-bottom: 50px;
}

.welcomeboxtext {
    font: bolder;
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}

.newsbox {
    background-color: rgb(255, 249, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.newsheader {
    text-align: center;
    text-decoration: solid underline;
    margin: 10px 0px 10px 00px;
}

.news {
    background-color: rgb(189, 189, 189);
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px;
    display: flex;
    
}

.newsimg {
    height: 150px;
    width: 250px;
    margin: 5px;
}

.newstext {
    height: 150px;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.newstitle {
    font-size: 25px;
    font-weight: 900;
    margin: 5px 0px;
    font-family: 'Poppins', sans-serif;
}